# Supabase
SUPABASE_URL=https://ggbubeaxiznjgkekwxjv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnYnViZWF4aXpuamdrZWt3eGp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjU2OTcsImV4cCI6MjA5MDU0MTY5N30.EPtBEjurMLh4q60hJ-Q2ZIRmSa29gxT12uWuwOwoH_o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnYnViZWF4aXpuamdrZWt3eGp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk2NTY5NywiZXhwIjoyMDkwNTQxNjk3fQ.nbRb3iTqEte6x9Jrs8SEwqj-d6WaiFczM6EQrBiV7zY
SUPABASE_DB_PASSWORD=007977Bd@9292

# App
NEXT_PUBLIC_API_URL=http://localhost:8000
DATABASE_URL=postgresql://user:password@localhost:5432/bdcr7
